@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');
.App{
 font-family: 'Raleway';
}
.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 150px;
  background-color:   #5a2828;
  background-image: url('https://images.pexels.com/photos/301378/pexels-photo-301378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  border-bottom: solid black 5px;
  border-top: solid black;
  box-shadow: 0px 5px 15px gray;
}
.page-bar-blue{
  background-color: #addfee;
  height: 40px;
  width: 100vw;
  border-bottom: solid 3px #495f66;
}
.page-bar-yellow{
  background-color: #ffff8f;
  height: 40px;
  width: 100vw;
  border-bottom: solid 3px #808047;
}
.page-title {
  width: 100vw;
  
}
.Rainbow {
  width:100vw;
}
.Landing-Page {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/97076/pexels-photo-97076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  input{
    width: 250px;
    height: 30px;
    font-size:1rem;
    margin-top:5px;
  }
}


#Main-Title {
  font-size: 4rem;
  color: white;
  font-family: 'Pacifico', ;

  padding-top: 70px;
  border-bottom: solid white;
  max-width: 600px;
}

#Sub-Title {
  color: white;
  font-size: 1rem;
  margin-top: 10px;
}
h2{
 font-family: 'Raleway', ;
 color: black;
 font-size: 1.5rem;
}

#Fancy-Title {
  font-family: 'Pacifico';
  font-size: 3rem;
  // border-bottom: solid;

}
#Fancy-Title-2 {
  font-family: 'Pacifico';
  font-size: 2rem;
  // border-bottom: solid;

}
#Fancy-Title-2-white {

  color: white;
  font-family: 'Pacifico';
  font-size: 2.25rem;


  // border-bottom: solid;

}
.Landing-Left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:35vw
  
}
.Landing-Right {
  width:65vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  outline:none;
  transition: .25s;
}
button:hover {
  transform: scale(1.05);
}

.Login-Box {
  width: 400px;
  height: 425px;
  background-color: rgba(255, 255, 255, 0.856);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#big{
width: 300px;
height: 80px;
font-size: 1.5rem;
padding: 15px;
border-radius: 10px;
border: solid black;
background-color: transparent;
color: black;
}

.Note-Purple {
  width: 100px;
  height: 100px;
  background-image: url('https://cdn.shopify.com/s/files/1/0040/3786/9638/files/Sticky-Note-04-Purple.png?v=1583217398');
  background-size: cover;
  margin: 10px;
  transition: .25s;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  i {
    margin: 4px;
    color: rgba(0, 0, 0, 0.637);
  }
}

.Note-Purple:hover {
  transform: scale(1.05);
 
}
.Note-Yellow {
  width: 100px;
  height: 100px;
  background-image: url('https://cdn.shopify.com/s/files/1/0040/3786/9638/files/Sticky-Note-01-Yellow.png?v=1583217398');
  background-size: cover;
  margin: 10px;
  transition: .25s;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  i {
    color: rgba(0, 0, 0, 0.637);
    margin: 4px;
  }
}

.Note-Yellow:hover {
  transform: scale(1.05);
}
.Note-Pink {
  width: 100px;
  height: 100px;
  background-image: url('https://cdn.shopify.com/s/files/1/0040/3786/9638/files/Sticky-Note-02-Pink.png?v=1583217398');
  background-size: cover;
  margin: 10px;
  transition: .25s;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  i {
    color: rgba(0, 0, 0, 0.637);
    margin: 4px;
  }
}

.Note-Pink:hover {
  transform: scale(1.05);
}
.Note-Green {
  width: 100px;
  height: 100px;
  background-image: url('https://cdn.shopify.com/s/files/1/0040/3786/9638/files/post_it_note_green.png?v=1583217398');
  background-size: cover;
  margin: 10px;
  transition: .25s;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  i {
    color: rgba(0, 0, 0, 0.637);
    margin: 4px;
  }
}

.Note-Green:hover {
  transform: scale(1.05);
}
.Note-Orange {
  width: 100px;
  height: 100px;
  background-image: url('https://cdn.shopify.com/s/files/1/0040/3786/9638/files/Sticky-Note-03-Orange.png?v=1583217398');
  background-size: cover;
  margin: 10px;
  transition: .25s;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  i {
    color: rgba(0, 0, 0, 0.637);
    margin: 4px;
  }
}

.Note-Orange:hover {
  transform: scale(1.05);
}
.Envelope {
  text-align: center;
  margin: 10px;
  background-color: rgb(238, 210, 173);
  box-shadow: black 5px 5px 15px;
  border: white solid 3px;
  // background-position: center;
  width: 150px;
  height: 100px;
  // background-image: url('https://publicdomainvectors.org/photos/simplemail.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.5rem;
  transition: .25s;
  i {
    margin: 5px;
    color: rgba(0, 0, 0, 0.637);
  }
}
.Envelope:hover {
  transform: scale(1.05);
}
.Welcome {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white 3px;
  margin: 10px;
  width: 200px;
  height: 125px;
  background-color: transparent;
}
.Divider {
  width: 4px;
  height: 175px;
  background-color: rgba(255, 255, 255, 0.61);
  box-shadow: white 0px 0px 10px;

}
.New-User {
  text-align: center;
  margin: 10px;
  background-color: rgb(173, 223, 238);
  box-shadow: black 5px 5px 15px;
  border: white solid 3px;
  // background-position: center;
  width: 150px;
  height: 100px;
  // background-image: url('https://publicdomainvectors.org/photos/simplemail.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.5rem;
  transition: .25s;
  // border-radius: 20px;
  i {
    margin: 5px;
    color: rgba(0, 0, 0, 0.637);
  }
}

.New-User:hover {
  transform: scale(1.05);
}
.All-Users {
  text-align: center;
  margin: 10px;
  background-color: rgb(238, 173, 173);
  box-shadow: black 5px 5px 15px;
  border: white solid 3px;
  // background-position: center;
  width: 150px;
  height: 100px;
  // background-image: url('https://publicdomainvectors.org/photos/simplemail.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.5rem;
  transition: .25s;
  // border-radius: 20px;
  i {
    margin: 5px;
    color: rgba(0, 0, 0, 0.637);
  }
}
.All-Users:hover {
  transform: scale(1.05);
}