@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');
.App{
 font-family: 'Raleway';
}
.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: black;
  background-image: url('https://images.pexels.com/photos/301378/pexels-photo-301378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  border-bottom: solid black;
  border-top: solid black;
  // box-shadow: 0px 5px 15px gray;
}
.page-title {
  width: 100vw;
  
}
.Landing-Page {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/97076/pexels-photo-97076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  input{
    width: 250px;
    height: 30px;
    font-size:1rem;
    margin-top:5px;
  }
}


#Main-Title {
  font-size: 4rem;
  color: white;
  font-family: 'Pacifico', ;

  padding-top: 70px;
  border-bottom: solid white;
  max-width: 600px;
}

#Sub-Title {
  color: white;
  font-size: 1rem;
  margin-top: 10px;
}
h2{
 font-family: 'Raleway', ;
 color: black;
 font-size: 1.5rem;
}

#Fancy-Title {
  font-family: 'Pacifico';
  font-size: 3rem;
  // border-bottom: solid;

}
#Fancy-Title-2 {
  font-family: 'Pacifico';
  font-size: 2rem;
  // border-bottom: solid;

}
.Landing-Left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:35vw
  
}
.Landing-Right {
  width:65vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  outline:none;
  transition: .25s;
}
button:hover {
  transform: scale(1.05);
}

.Login-Box {
  width: 400px;
  height: 425px;
  background-color: rgba(255, 255, 255, 0.856);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#big{
width: 300px;
height: 80px;
font-size: 1.5rem;
padding: 15px;
border-radius: 10px;
border: solid black;
background-color: transparent;
color: black;
}

.Note-Purple {
  width: 150px;
  height: 150px;
  background-image: url('https://cdn.shopify.com/s/files/1/0040/3786/9638/files/Sticky-Note-04-Purple.png?v=1583217398');
  background-size: cover;
  margin: 10px;
  transition: .25s;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Note-Purple:hover {
  transform: scale(1.05);
 
}
.Note-Yellow {
  width: 150px;
  height: 150px;
  background-image: url('https://cdn.shopify.com/s/files/1/0040/3786/9638/files/Sticky-Note-01-Yellow.png?v=1583217398');
  background-size: cover;
  margin: 10px;
  transition: .25s;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Note-Yellow:hover {
  transform: scale(1.05);
}